@tailwind base;
@tailwind components;
@tailwind utilities;

/* Make scrollbar thinner and more consistent across browsers */
::-webkit-scrollbar {
    width: 8px;
    height: 6px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* End of scrollbar styles */